.button {
  border: 0;
  height: 36px;
  border-radius: 20px;
  padding: 0 20px;
  font-weight: bold;
  letter-spacing: 0.2px;
  cursor: pointer;
  background-color: #1294F2;
  color: white;
}

.button:hover {
  background-color: #0F86DC;
}

.disabled {
  background-color: #A5AAB5;
}

@media screen and (max-width: 833px) {
  .button {
    height: 45px;
  }
}
